@import "tailwindcss";

footer {
  position: sticky;
  width: 90%;
  height: var(--header-height);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px white inset;
  border-radius: 15px;
}


header>h1 {
  padding-left: 4%;
}


nav {
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
  width: 22%;
  min-width: 250px;
  padding: 0px 10px;
  padding-right: 4%;
}