* {margin: 0; padding: 0;}


:root {
  --header-height: 70px;
  font-family: Arial, Helvetica, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: #101820;
    --primary-color: #375A7F;
    --secundary-color: #F39C12;
    --detail-color: #28DF99;
    --text-color: #ECF0F1;
  }
}


@media (prefers-color-scheme: light) {
  :where(body) {
    --background-color: #F7F9FC;
    --primary-color: #0078D4;
    --secundary-color: #FFD166;
    --detail-color: #06D6A0;
    --text-color: #264653;
  }
}





body {
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  height: 100vh;
}

body>* {
  width: 100%;
  border-bottom-width: 0;
  box-sizing: border-box;
  text-align: center;
}


aside {
  min-width: 250px;
    height: inherit;
    position: sticky;
    left: 2%;
    border-radius: 25px;
    border: 1px solid white;
}

.container .body {
  width: 75%;
}

.container {
  display: flex;
  justify-content: space-around;
  min-height: 300px;
}