@import "tailwindcss";

/* ==================================================
                    Generic styles 
================================================== */

* {margin: 0; padding: 0;}

:root {
  --header-height: 70px;
  font-family: Arial, Helvetica, sans-serif;
}





/* ==================================================
                Styles per color scheme
================================================== */

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: #101820;
    --primary-color: #375A7F;
    --secundary-color: #F39C12;
    --detail-color: #28DF99;
    --text-color: #ECF0F1;
  }
}

@media (prefers-color-scheme: light) {
  :where(body) {
    --background-color: #F7F9FC;
    --primary-color: #0078D4;
    --secundary-color: #FFD166;
    --detail-color: #06D6A0;
    --text-color: #264653;
  }
}





/* ==================================================
                    Specific styles
================================================== */

body {
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

#root{
  width: 100%;
  padding-bottom: 20px;
}
