header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  
  
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}



nav {
  display: flex;
  justify-content: space-between;
  width: 22%;
  padding: 10px;
}